.box{
    background-color: gray;
    width: 75%;
    padding: 10%;
    margin-top: 1px;
    margin-left: 1px;
}
.box1{
    background-color: rgb(5, 5, 99);
    width: 75%;
    padding: 10%;   
    margin-top: 1px;
    margin-left: 1px; 
}
.box2{
    background-color: rgb(5, 5, 99);
    width: 27.43%;
    padding: 10%;   
    margin-top: 1px;
    margin-left: 1px;
}
.box3{
    background-color: gray;
    width: 11.6%;
    padding: 10%;   
    margin-left: 1px;
}
.box4{
    background-color: gray;
    width: 27.43%;
    padding: 10%;   
    margin-top: 1px;
    margin-left: 1px;
}
.box5{
    background-color: rgb(5, 5, 99);
    width: 3.65%;
    padding: 10%;   
    margin-top: 1px;
    margin-left: 1px;
}
.box6{
    background-color: gray;
    width: 27.43%;
    padding: 10%; 
    margin-left: 1px;
}
.box7{
    background-color: gray;
    width: 28%;
    padding: 10%; 
    margin-left: 1px;
}
.box8{
        background-color: rgb(5, 5, 99);
        width: 28%;
        padding: 10%;   
        margin-top: 1px;
        margin-left: 1px;
}
    .flex-container {
        display: flex;

      }
      
    