.table_1g{
    background-color: gray;
    width: 1300px;
    height: 300px;
}
.table_1b{
    background-color: rgb(18, 8, 110);
    width: 1300px;
    height: 300px;
}
.table_2g{
    background-color: gray;
    width: 500px;
    height: 300px;
}
.table_2b{
    background-color: rgb(18, 8, 110);
    width: 700px;
    height: 300px;
}
.table_3g{
    background-color: gray;
    width: 500px;
    height: 300px;
}
.table_3b{
    background-color: rgb(18, 8, 110);
    width: 500px;
    height: 300px;
}

.table_4g{
    background-color: gray;
    width: 700px;
    height: 600px;
}
.table_4b{
    background-color: rgb(18, 8, 110);
    width: 700px;
    height: 600px;
}
.table_5g{
    background-color: gray;
    width: 500px;
    height: 300px;
}
.table_5b{
    background-color: rgb(18, 8, 110);
    width: 500px;
    height: 300px;
}
